<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <p>{{heading}},</p>

    {{#if partialTemplateName}}
      {{> partial }}
    {{/if}}
  </body>
</html>
